# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
leetcode-solutions-.pdf

# project files
*.project
*.cproject

# Workspace folders
/Eclipse_Workspace/
/Eclipse_Workspace_cpp/.metadata/
*.xml
*.prefs
